<p id="notice"><%= notice %></p>

<h1>Listing Listings</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Mls</th>
      <th>Address</th>
      <th>Price</th>
      <th>Sqft</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.mls %></td>
        <td><%= listing.address %></td>
        <td><%= listing.price %></td>
        <td><%= listing.sqft %></td>
        <td><%= link_to 'Link', MlsParser.link({ mls: listing.mls, gui: listing.gui, target: listing.target }) %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class="container-fluid" ng-controller="ngPitiCtrl">
  <% @listings.each do |listing| %>

  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="col-md-1">
        <button type="button" ng-click="piti_<%= listing.id %> = !piti_<%= listing.id %>" class="btn btn-link btn-xs">
          <span ng-class="(!piti_<%= listing.id %>) ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-down'"></span>
        </button>
      </div>
      <div class="col-md-2"><%= listing.mls %></div>
      <div class="col-md-3"><%= (listing.address || '').titleize %></div>
      <div class="col-md-1"><%= listing.sqft %> ft.</div>
      <div class="col-md-3"><%= number_to_currency(listing.price) %></div>
      <div class="col-md-2">
        <%= link_to(MlsParser.link({ mls: listing.mls, gui: listing.gui, target: listing.target })) do %>
          <span class="glyphicon glyphicon-link"></span>
        <% end %>
        <%= link_to(listing) do %>
          <span class="glyphicon glyphicon-file"></span>
        <% end %>
        <%= link_to(edit_listing_path(listing)) do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        <%= link_to(listing, method: :delete, data: { confirm: 'Are you sure?' }) do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </div>
    </div>

    <!-- Table -->
    <table class="table table-stripped" ng-show="piti_<%= listing.id %>">
      <tr>
        <th>
          <button type="button" ng-click="addPiti(<%= listing.id %>)" class="btn btn-link btn-xs">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </th>
        <th>Price</th>
        <th>Down</th>
        <th>Interest</th>
        <th>Maturity</th>
        <th>Insurance</th>
        <th>Tax</th>
        <th>Final Payment</th>
        <th></th>
      </tr>
      <tr ng-repeat="piti in pitis[<%= listing.id %>]">
        <td></td>
        <td class="col-md-2">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon1">$</span>
            <input type="text" class="form-control" placeholder="Price" ng-model="piti.price" size="3" />
          </div>
        </td>
        <td class="col-md-2">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon1">$</span>
            <input type="text" class="form-control" placeholder="Down Payment" ng-model="piti.down" size="30" />
          </div>
        </td>
        <td class="col-md-2">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Interests" ng-model="piti.interest || interest" size="7" />
            <span class="input-group-addon" >%</span>
          </div>
        </td>
        <td class="col-md-1">{{ piti.maturity || maturity }}</td>
        <td class="col-md-1">{{ piti.insurance || insurance }}</td>
        <td class="col-md-1">{{ piti.tax || tax }}%</td>
        <td class="col-md-2">${{ calculatedPayment(piti) | number: 2}}</td>
        <td class="col-md-1">
          <button ng-click="update(piti)" class="btn btn-link">
            <span class="glyphicon glyphicon-floppy-disk"></sm>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Listing', new_listing_path %>
