<p id="notice"><%= notice %></p>

<h1>Listing Listings</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Mls</th>
      <th>Address</th>
      <th>Price</th>
      <th>Sqft</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.mls %></td>
        <td><%= listing.address %></td>
        <td><%= listing.price %></td>
        <td><%= listing.sqft %></td>
        <td><%= link_to 'Link', MlsParser.link({ mls: listing.mls, gui: listing.gui, target: listing.target }) %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class="container-fluid" ng-controller="ngPitiCtrl">
<% @listings.each do |listing| %>

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= listing.mls %></h3>
      </div>
      <div class="panel-body">
        <div class="col-md-1">
          <div class="input-group-btn">
            <button type="button" ng-click="piti_<%= listing.id %> = !piti_<%= listing.id %>" class="btn btn-default btn-xs">
              <span ng-class="(!piti_<%= listing.id %>) ? 'glyphicon glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-down'"></span>
            </button>
            <button type="button" ng-click="addPiti(<%= listing.id %>)" class="btn btn-default btn-xs">+</button>
          </div>
        </div>
        <div class="col-md-3">Address: <%= listing.address %></div>
        <div class="col-md-3">Price: <%= listing.price %></div>
        <div class="col-md-2">Sqft: <%= listing.sqft %></div>
        <div class="col-md-1"><%= link_to 'Show', listing %></div>
        <div class="col-md-1"><%= link_to 'MLS', MlsParser.link({gui: listing.gui, target: listing.target}) %></div>
        <div class="col-md-1"><%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>

      <!-- Table -->
      <table class="table" ng-show="piti_<%= listing.id %>">
        <tr>
          <th>Price</th>
          <th>Down</th>
          <th>Interest</th>
          <th>Maturity</th>
          <th>Insurance</th>
          <th>Tax</th>
          <th>Final Payment</th>
          <th></th>
        </tr>
        <tr ng-repeat="piti in pitis[<%= listing.id %>]">
          <td class="col-md-2"><input type="text" ng-model="piti.price"/></td>
          <td class="col-md-2"><input type="text" ng-model="piti.down" /></td>
          <td class="col-md-1">{{ piti.interest || interest }}%</td>
          <td class="col-md-1">{{ piti.maturity || maturity }}</td>
          <td class="col-md-1">{{ piti.insurance || insurance }}</td>
          <td class="col-md-1">{{ piti.tax || tax }}%</td>
          <td class="col-md-2">{{ calculatedPayment(piti) | number: 2}}</td>
          <td class="col-md-2"><input type="button" value="Save" ng-click="update(piti)" /></td>
        </tr>
      </table>

    </div>
  </div>

<% end %>
</div>

<br>

<%= link_to 'New Listing', new_listing_path %>
